{% extends "layout.html.twig" %}

{% block title %}
  Liste des utilisateurs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="font-size:14px;">
      <a href="adduser"><i class="fa fa-plus"></i>&nbsp; Ajouter un utilisateur</a>
  </span>
{% endblock %}

{% block content %}
 
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="row" >
        <div class="col-xs-12">
            <div class="box box-primary">
              {#  <div class="box-header">
                    <div class="box-tools">
                    </div>
                  </div>
              #} 
                <!-- /.box-header -->
                       
                <table class="table table-hover" style="  table-layout: fixed; ">
                     <form action="modifuser" method="post" >     
                        <tr style="background-color: #3c8dbc; font-size:16px;">
                            <th  class="mytdmin">
                               <i class="fa fa-pencil-square-o"></i>
                            </th>
                            <th  class="mytdmin">
                               <i class="fa fa-trash"></i>
                            </th>
                            <th class="mytd">Login</th>
                            <th class="mytd">Nom</th>
                            <th class="mytd">Prénom</th>
                            <th class="mytd">Mot de passe</th>
                            <th class="mytdmin">Role</th>
                            <th class="mytdmin">Status</th>
                            <th class="mytd">Description</th>   
                            <th class="mytd">Adresse mail</th>
                            <th class="mytdmin">Discipline</th>
                            <th class="mytdmin">Classes</th>
                        </tr>  
                     
                        {% for user in users %}
                    
                            
                            <tr>
                                <td class="mytdmin"> 
                                   <button type="submit" class="btn btn-warning btn-flat">
                                       <i class="fa fa-edit"></i>
                                   </button>
                                    <input type="hidden" value="{{ user.id_users }}" name="id_users[{{ user.id_users }}]"  >
                                    <input type="hidden" value="modification" name="modification"  >
                             
                                <td class="mytdmin"> 
                                    <button type="submit" class="btn btn-danger btn-flat">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <input type="hidden" value="suppression" name="suppression"  >
                                
                                </td>
                                <td class="mytd" >{{ user.username }}</td>
                                <input type="hidden" value="{{ user.username }}" name="username[{{ user.username }}]"  >
                                <td class="mytd" >{{ user.name }}</td>
                                <input type="hidden" value="{{ user.name }}" name="name[{{ user.name }}]"  >
                                <td class="mytd">{{ user.firstname }}</td>
                                <input type="hidden" value="{{ user.firstname }}" name="firstname"  >
                                <td class="mytd">{{ user.password }}</td>
                                <input type="hidden" value="{{ user.password }}" name="password"  >
                                <td class="mytdmin">{{ user.role }}</td>
                                <input type="hidden" value="{{ user.role }}" name="role"  >
                                <td class="mytdmin">{{ user.status }}</td>
                                <input type="hidden" value="{{ user.status }}" name="status"  >
                                <td class="mytd">{{ user.description }}</td>
                                <input type="hidden" value="{{ user.description }}" name="description"  >
                                <td class="mytd">{{ user.user_mail }}</td>
                                <input type="hidden" value="{{ user.user_mail }}" name="user_mail"  >
                                <td class="mytdmin">{{ user.id_discipline }}</td>
                                <input type="hidden" value="{{ user.id_discipline }}" name="id_discipline"  >
                                <td class="mytdmin"> {{ user.id_class }} </td>
                                <input type="hidden" value="{{ user.id_class }}" name="id_class_form"  >
                           
                               </tr> 

                        
                        {% endfor %}
                        </form> 
                    </table>
         
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}