{% extends "layout.html.twig" %}

{% block title %}
  Liste des utilisateurs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="font-size:14px;">
      <a href="adduser"> <i class="fa fa-plus"></i>&nbsp; Ajouter un utilisateur</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="modifuser">&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i>&nbsp; Modifier un utilisateur</a>
  </span>
{% endblock %}

{% block content %}
 
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="row" >
        <div class="col-xs-12">
            <div class="box box-primary">
              {#  <div class="box-header">
                    <div class="box-tools">
                    </div>
                  </div>
              #} 
                        
                <!-- /.box-header -->
                          
                    <table class="table table-hover" style="  table-layout: fixed; ">
                        <tr style="background-color: #3c8dbc">
                            <th  class="mytdmin"  style="width:20px">
                                <a href=adduser>  <i class="fa fa-pencil-square-o"></i></a>
                            </th>
                            <th class="mytd" >Login</th>
                            <th class="mytd">Nom</th>
                            <th class="mytd">Prénom</th>
                            <th class="mytd">Mot de passe</th>
                            <th class="mytdmin">Role</th>
                            <th class="mytdmin">Status</th>
                            <th class="mytd">Description</th>   
                            <th class="mytd">Adresse mail</th>
                            <th class="mytdmin">Discipline</th>
                            <th class="mytdmin">Classes</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td class="mytdmin" style="width:20px"> 
                                <form  method="post" action="modifuser">
                                    <i class="fa fa-pencil-square-o" ><input type="submit" value=""/></i>
                                    <input type="hidden" value="{{ user.id_users }}" name="id_users" >
                                </form>
                            </td>
                            <td class="mytd" >{{ user.username }}</td>
                            <td class="mytd" >{{ user.name }}</td>
                            <td class="mytd">{{ user.firstname }}</td>
                            <td class="mytd">{{ user.password }}</td>
                            <td class="mytdmin">{{ user.role }}</td>
                            <td class="mytdmin">{{ user.status }}</td>
                            <td class="mytd">{{ user.description }}</td>
                            <td class="mytd">{{ user.user_mail }}</td>
                            <td class="mytdmin">{{ user.id_discipline }}</td>
                            <td class="mytdmin">{{ user.id_className }}</td>
    
                        </tr>
                        {% endfor %}
                    </table>
         
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}