{% extends "layout.html.twig" %}

{% block title %}
        Tableau de Bord d'Administration
{% endblock %}

{% block content %}

        <!-- ./col -->
         <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ users_number }}</h3>
                    <p>Utilisateurs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                    <a href="userslist" class="small-box-footer" >Liste des utilisateurs &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="adduser" class="small-box-footer">Ajouter un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="modifuser/delete" class="small-box-footer">Supprimer un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="modifuser/edit" class="small-box-footer">Modifier un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                </div>
        </div>
                    
                      <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ disciplines_number }}</h3>

                    <p>Disciplines</p>
                </div>
                <div class="icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                    <a href="disciplineslist" class="small-box-footer">Liste des disciplines &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="adddiscipline" class="small-box-footer">Ajouter une discipline &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    <a href="modifdiscipline" class="small-box-footer">Modifer une discipline &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                    
                    
        <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ exam_number}}</h3>
                    <p>Examens</p>
                </div>
                <div class="icon">
                    <i class="fa fa-barcode"></i>
                </div>
                <a href="examlist" class="small-box-footer" >Liste des examens &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addexam" class="small-box-footer" >Ajouter un examen &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
            <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ classes_number}}</h3>
                    <p>Classes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-barcode"></i>
                </div>
                <a href="classeslist" class="small-box-footer" >Liste des classes &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addclass" class="small-box-footer" >Ajouter une classe &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                        <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ absences_number }} </h3>

                    <p>Absences</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar-o"></i>
                </div>
                    <a href="absenceslist" class="small-box-footer" >Liste des absences &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addabsence" class="small-box-footer" >Ajouter une absence &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                                <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ retards_number }}</h3>

                    <p>Retards</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar-o"></i>
                </div>
                <a href="retardslist" class="small-box-footer" >Liste des retards &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addretard" class="small-box-footer" >Ajout d'un retard &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                    {#
                      <!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ date }}</h3>
                    <p>Calendrier</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="calendar" class="small-box-footer">Ouvrir le calendrier <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
                       #}
        
                    
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                    <h3>{{ students_number }}</h3>

                    <p>Etudiants</p>
                </div>
                <div class="icon">
                    <i class="fa fa-mortar-board"></i>
                </div>
                <a href="studentslist" class="small-box-footer">Liste des étudiants &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addstudent" class="small-box-footer">Ajouter étudiant &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="addnote" class="small-box-footer">Ajouter une note &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>  
                    
                       <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua-active" style="box-shadow: 3px 3px 3px #888888;">
                <div class="inner">
                 

                    <p>Parent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-mortar-board"></i>
                </div>
                <a href="profilparent" class="small-box-footer">Profil du parent &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="profilstudent" class="small-box-footer">Profil de l'enfant &nbsp;<i class="fa fa-arrow-circle-right"></i></a>

            </div>
        </div>  
                    
                            
    </div>
    
{% endblock %}