{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout de note
{% endblock %}

{% block content %}

    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body" style="margin-left:2rem; width: 80%; ">
            <div class="form-group" style="width: 6%;  display:inline-block; margin:10px;">
                <label for="sel1">Note</label>
                <select class="form-control" id="sel1" keybord="true">
                    {% for i in 0..20 %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" style="width: 15%; display:inline-block;margin:10px;">
                <label>Choisir une classe</label>
{#                {% if noteForm %}
                    {{ form_start(noteForm) }}
                        <div class="form-group">
                            {{ form_errors(noteForm.grade) }}
                            {{ form_widget(noteForm.grade, { 'attr': {
                                'class': 'form-control',
                                'placeholder': 'Entrer une note'
                            }}) }}
                        </div>
                       #} <div class="form_group">
                            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                        </div>
                   {# {{ form_end(noteForm) }}
                {% else %}
                    <a href="#">Connectez-vous pour ajouter une note</a>
                {% endif %}#}
                <select class="form-control select2" >
                  {#  {% for name in classNames %}
                        <option>
                            {{ name.class_name }}
                        </option>
                    {% endfor %}#}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Choisir une matière</label>
                <select class="form-control select2">
                   {#  {% for discipline in matieres %}
                        <option>
                            {{ discipline.name_discipline }}
                        </option>
                    {% endfor %}#}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Choisir l'élève</label>
                <select class="form-control select2">
                   {# {% for stud in student %}
                        <option>
                            {{ stud.student_name~' '~stud.student_firstname }}
                        </option>
                    {% endfor %}#}
                </select>
            </div>
        </div>
        <!-- /.box-body -->
        <!-- mettre le submit ici -->
        <!-- /.box-footer -->
    </form>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Autres</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
       
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}

