{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout de note
{% endblock %}

{% block content %}

    <!-- form start -->


<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form method="post" action="{{ path('note') }}">
        <div class="box-body" style="margin-left:2rem; width: 80%; ">
            <div class="form-group" style="width: 20%; border-radius: 3px">
                <label for="sel1">Note</label>
                <input type="text" class="form-control" name="note" placeholder="Ex : 12/20"/>
            </div>
            <div class="form-group" style="width: 30%; border-radius: 3px">
                <label for="sel1">Etudiant</label>
                <select class="form-control" id="sel2" name="etudiant">
                    {% for etudiant in student %}
                        <option value="{{ etudiant.id_student }}">{{ etudiant.student_name~' '~etudiant.student_firstname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%; border-radius: 3px">
                <label for="sel1">Matière</label>
                <select class="form-control" id="sel3" name="matiere">
                    {% for matiere in matieres %}
                        <option value="{{ matiere.id_discipline }}">{{ matiere.name_discipline }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_group">
                <button type="submit" class="btn btn-info pull-right">Ajouter</button>
            </div>
        </div>
        {# submit avec input si possible #}

        <!-- /.box-body -->
        <!-- mettre le submit ici -->
        <!-- /.box-footer -->
    </form>
    </div>


{% endblock %}

