{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'utilisateurs
{% endblock %}

{% block content %}
    
       
       {% if message %}
            <div class="box box-primary">      
                <div class="box-body" >
                     <div class="box box-solid box-success" style="border:'2px ridge #37E446'; ">
                         <div class="box-header" style="background:#37E446">
                           Utilisateur enregistré avec succès
                          </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <tr style="background-color: #3c8dbc">
                                     <th style="text-align: center; border: 1px solid darkgrey;">Login </th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Nom </td>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Prenom </th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Role</th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Description</th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">E-mail </th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Discipline</th>
                                     <th style="text-align: center; border: 1px solid darkgrey;">Classe</th>
                                 <tr>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ username }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ name }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ firstname }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ role_form }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ description }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ user_mail }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ discipline_form }}</td>
                                     <td style="text-align: center; border: 1px solid darkgrey;">{{ classname }}<td>
                                 </tr>
                             </table>
                       </div>
                     </div>
                </div>
            </div>                 
       <h5>Ajouter un nouvel utilisateur</h5>                
       {% endif %}
       
   <div class="box box-primary">        

    <!-- form start -->
    <form class="form-horizontal" action="{{ path('user') }}"  method="post">
        
        <div class="box-body" style="margin-left:2rem; width: 90%; ">
            
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Login  *</label>
                <input type="text" name="username" class="form-control" required placeholder="Login ...">
            </div>
            <div class="form-group" style="width: 15%; display:inline-block;margin:10px;">
                <label>Nom</label>
                <input type="text" name="name" class="form-control" placeholder="Nom...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Prénom</label>
                <input type="text" name="firstname" class="form-control" placeholder="Prénom...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Description</label>
                <input type="text" name="description" class="form-control" placeholder="Description...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
              <label>Role</label>
                <select class="form-control"  name="role" >
                    {% for roles in role %}
                         <option value="{{ roles.role }}">{{ roles.role }}</option> 
                     {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Statuts</label>
                      <select name="status"  class="form-control" >
                    {% for i in 0..5 %}
                         <option value="{{ i }}">{{ i }}</option> 
                     {% endfor %}
                </select>
             </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Disciplines</label>
                <select name="discipline_form" class="form-control" >  
                    {% for disciplines in discipline %}
                         <option value="{{ disciplines.id_discipline }}">{{ disciplines.name_discipline }}</option> 
                     {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Classes</label>
              <select name="classname" class="form-control">{# multiple #}
                     {% for classes in classe %}
                        <option value="{{ classes.id_className }}">{{ classes.class_name }}</option> 
                      {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Email  *</label>
                <input type="email"  name="user_mail"  class="form-control" id="inputEmail3" required placeholder="Email...">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password"  name="password" class="form-control" required placeholder="Min 6 caracteres">
            </div>
             <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password" class="form-control" required  placeholder="Min 6 caracteres">
            </div>
                
        </div>
      
        <!-- /.box-body -->
        <div class="box-footer" >
            <input type="hidden" value="message" name="message">
            <button type="submit" style='float:right' class="btn btn-info pull-right">Ajouter</button>
        </div>
        <!-- /.box-footer -->

    </form>
                
  
                
</div>  
     

{% endblock %}

