{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'utilisateurs
{% endblock %}

{% block content %}

    <!-- form start -->
    <form class="form-horizontal" action="{{ path('user') }}"  method="post">
        <div class="box-body" style="margin-left:2rem; width: 80%; ">
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Login  *</label>
                <input type="text" name="username" class="form-control" required placeholder="Login ...">
            </div>
            <div class="form-group" style="width: 15%; display:inline-block;margin:10px;">
                <label>Nom</label>
                <input type="text" name="name" class="form-control" placeholder="Nom...">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Prénom</label>
                <input type="text" name="firstname" class="form-control" placeholder="Prénom...">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Disciplines</label>
                <select name="id_discipline" class="form-control" >
                      {% for disciplines in Discipline %}
                          {#  <option value="{{ path disciplines.id_discipline}}">{{disciplines.name_discipline }}</option> #}
                     {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Classes</label>
                <select name="id_class" class="form-control" multiple>
                      {% for classes in className %}
                         {#  <option value="{{ path classes.id_class}}">{{classes.class_name }}</option> #}
                      {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Email  *</label>
                <input type="email"  name="user_mail"  class="form-control" id="inputEmail3" required placeholder="Email...">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password"  name="password" class="form-control" required placeholder="Min 6 caracteres">
            </div>
             <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password" class="form-control" required  placeholder="Min 6 caracteres">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
        </div>
        <!-- /.box-footer -->
    </form>


{% endblock %}

