{% extends "layout.html.twig" %}

{% block title %}
    Formulaire d'ajout d'utilisateurs
{% endblock %}

{% block content %}

    <div class="box box-primary">
   
        <form role="form" method="post" action="{{ path('adduser') }}">

            <div class="box-body" style="margin-left:2rem; width: 90%; ">

                <div class="form-group" >
                    <label>Login  *</label>
                    <input type="text" style=" width: 25% ;border-radius: 3px" name="username" class="form-control" required placeholder="Ex : jdUFIP2015">
                </div>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" name="name" style=" width: 25% ;border-radius: 3px" class="form-control" placeholder="Ex : Dupont">
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" name="firstname" style=" width: 25% ;border-radius: 3px" class="form-control" placeholder="Ex : Jean">
                </div>
                <div class="form-group">
                    <label>Matière enseignée</label>
                    <input type="text" name="description" style=" width: 25% ;border-radius: 3px" class="form-control" placeholder="Ex : Anglais, Mathématiques ...">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select  name="role" class="form-control" style=" width: 25% ;border-radius: 3px" >
                        {% for users in user %}
                            <option value="{{ users.role }}">{{ users.role }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Matière</label>
                    <select name="id_discipline" style=" width: 25% ;border-radius: 3px" class="form-control" >
                        {% for disciplines in discipline %}
                            <option value="{{ disciplines.id_discipline }}">{{ disciplines.name_discipline }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Classes</label>
                    <select name="id_class" style=" width: 25% ;border-radius: 3px" class="form-control">{# multiple #}
                        {% for classes in classe %}
                            <option value="{{ classes.id_class }}"  >{{ classes.class_name~' '~classes.class_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Email  *</label>
                    <input type="email"  name="user_mail"  style=" width: 25% ;border-radius: 3px" class="form-control" id="inputEmail3" required placeholder="Ex : jdufip@gmail.com ...">
                </div>
                <div class="form-group">
                    <label>Mot de passe  *</label>
                    <input type="password"  name="password" style=" width: 25% ;border-radius: 3px" class="form-control" required placeholder="Minimum 6 caractères">
                </div>

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
            </div>
          
        </form>
      
    </div>
                    


{% endblock %}

