{% extends "layout.html.twig" %}

{% block title %}
    Formulaire de modification d'un utilisateur
{% endblock %}

{% block content %}
<div class="box box-primary">
    <!-- form start -->
    <form class="form-horizontal" action="edit/id"  method="post">
        <div class="box-body" style="margin-left:2rem; width: 90%; ">
            <div class="form-group" style="width: 20%;  display:inline-block; margin:10px;">
                <label>Login  *</label>
                   <input type="text" name="username" class="form-control"  value="{{ userById.username }}" >
                </select>
            </div>
             <div class="form-group" style="width: 15%; display:inline-block;margin:10px;">
                <label>Nom</label>
                <input type="text" name="name" class="form-control" value="{{ userById.name }}">
                <input type="hidden" value="{{ userById.id_class }}" name="id_class">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Prénom</label>
                <input type="text" name="firstname" class="form-control"  value="{{ userById.firstname }}">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Description</label>
                <input type="text" name="description" class="form-control"  value="{{ userById.description }}">
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
              <label>Role</label>
                <select class="form-control"  name="role" placeholder="{{ userById.role }}" >
                    {% for roles in userById %}
                         <option value="{{ roles.role }}" >{{ roles.role }}</option> 
                     {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Disciplines</label>
                <select name="discipline" class="form-control" >  
                    {% for disciplines in discipline %}
                         <option value="{{ disciplines.id_discipline }}">{{ disciplines.name_discipline }}</option> 
                     {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Classes</label>
                <select name="id_class" class="form-control">{# multiple #}
                     {% for classes in classe %}
                        <option value="{{ classes.id_class }}">{{ classes.class_name }}</option> 
                      {% endfor %}
                </select>
            </div>
            <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Email  *</label>
                <input type="email"  name="user_mail"  class="form-control" id="inputEmail3" required placeholder="{{ userById.user_mail }}">
            </div>
             <div class="form-group" style="width: 20%;  display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password"  name="password" class="form-control" required placeholder="{{ userById.password }}">
            </div>
             <div class="form-group" style="width: 20%; display:inline-block;margin:10px;">
                <label>Mot de passe  *</label>
                <input type="password" class="form-control" required  placeholder="{{ userById.password }}">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>                

{% endblock %}

{# empty Twig template #}
